# ========================================================
# LEGACYVAULT CLIENT ENVIRONMENT CONFIGURATION
# ========================================================

# Base URL kết nối tới máy chủ Backend .NET 8 (mặc định port 5000)
VITE_API_BASE_URL=http://localhost:5000

# Bật chế độ Demo phục vụ trình diễn và bảo vệ đồ án
VITE_DEMO_MODE=true

# Google Identity Services Client ID
VITE_GOOGLE_CLIENT_ID=717961939025-32a9snln6rvn7pu3va9are8dhcabvmr7.apps.googleusercontent.com
